<a href="https://colab.research.google.com/github/shamilps07-sys/ict_assignments/blob/main/assignment01_shamil.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1
item1_price=int(input("item1 price: "))
item1_quantity=int(input("item1 quantity: "))
item2_price=int(input("item2 price: "))
item2_quantity=int(input("quantity2: "))
t=item1_price*item1_quantity+item2_price*item2_quantity
print(t)

item1 price: 45
item1 quantity: 3
item2 price: 30
quantity2: 2
195

In [6]:
#2
print("temperature conversion")
cel=float(input("enter temparature in celsius"))
faren=(cel*9/5)+32
print(faren)

temperature conversion
enter temparature in celsius22
71.6

In [8]:
#3
basic_salary = int(input("enter basic salary:"))
hr = 0.20 * basic_salary
da = 0.10 * basic_salary
print(basic_salary + hr + da)

enter basic salary:20000
26000.0

In [7]:
#4
print("interst calculator")
p = int(input("Enter principal:"))
r = float(input('Enter rate of interest:'))
t = int(input("Time(in years):"))

si = (p*r*t)/100
print(si)

interst calculator
Enter principal:10000
Enter rate of interest:5
Time(in years):2
1000.0

In [2]:
#5
total_minutes =int(input("Enter total minutes: "))
hours = total_minutes // 60
minutes = total_minutes % 60
print(f"{hours} hours and {minutes} minutes")

Enter total minutes: 130
2 hours and 10 minutes

In [3]:
#6
weight = float(input("Weight (kg): "))
height = float(input("Height (m): "))
bmi = weight / (height ** 2)
print("BMI = {:.2f}".format(bmi))

weight (kg): 60
height (m): 1.65
BMI = 22.04

In [14]:
#7
print ("discount calculator")
ogprice = int(input("orginal input price"))
dis = ogprice - (ogprice * 10/100)
print(dis)

discount calculator
orginal input price1200
1080.0

In [17]:
#8
a=float(input("enter side a"))
b=float(input("enter side b"))
c=float(input("enter side c"))
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print(area)

enter side a5
enter side b6
enter side c7
14.696938456699069

In [16]:
#9
print("Paint Cost Estimator")
l = float(input("Enter length of the wall:"))
b = float(input("Enter breadth of the wall:"))
area = l * b
area_w = 2*(1.5 * 1.2)
paint = area - area_w
print(paint,"sq.m")
cost = paint * 25
print(cost)

Paint Cost Estimator
Enter length of the wall:12
Enter breadth of the wall:8
92.4 sq.m
2310.0

In [18]:
#10
a=float(input("Enter number of units consumed"))
b=(a*5.2)+100
print(b)

Enter number of units consumed250
1400.0